.tablecontainer {
    align-content: center;
    justify-content: center;
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
    background-color: white;
}

.table{
    align-content: center;
    justify-content: center;
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    background-color: white;
}

.th, .td {
    font-size: var(--table-font-size);
    text-align: left;
    padding: 12px 15px;
  }

.th {
    font-size: var(--table-font-size);
    color: var(--text-color);
    text-align: left;
    position: sticky;
    top: 0;
    background: #36b5ff;  /* or any header background color */
}

.tr{
    font-size: var(--title-font-size);
}

.tr:hover{
    background-color: #f5f5f5;
  }

.tablebutton {
    height: 100%;
    width: 100%;
}