.tablecontainer {
    align-content: center;
    justify-content: center;
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
    background-color: white;
}
.tablewrapper {
    min-height: 540px;
}
.table{
    align-content: center;
    justify-content: center;
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    background-color: white;
}

.th, .td {
    font-size: var(--table-font-size);
    text-align: left;
    padding: 12px 15px;
    align-items: center;
  }

.th {
    font-size: var(--table-font-size);
    color: rgb(51, 50, 63);
    text-align: left;
    position: sticky;
    top: 0;
    background: #36b5ff;  /* or any header background color */
}

.tr{
    font-size: var(--title-font-size);
    border-bottom: 1px solid grey;
}

.tr:hover{
    background-color: #f5f5f5;
  }

.tablebutton {
    height: 100%;
    width: 100%;
}